

*{
  box-sizing: border-box;
}

.tac{
  text-align: center;
}


// 颜色
@primary-color:#2d8cf0;
@primary-color-light:#5cadff;
@primary-color-dark:#2b85e4;

@info-color:#2db7f5;
@success-color:#19be6b;
@warning-color:#ff9900;
@error-color:#ed4014;

@color-title:#17233d;
@color-content:#515a6e;
@color-disabled:#c5c8ce;
@color-border:#dcdee2;
@color-divider:#e8eaec;
@color-background:#f8f8f9;


// 字体大小
@fz-sm:0.16rem;
@fz-md:0.2rem;
@fz-lg:0.3rem;
@fz-llg:0.4rem;


body{
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4;
  background: @color-background;
}

